* {
  margin: 0;
  padding: 0;
}

.navItems {
    border: solid 5px white;
    width: 75px;
    margin: 0px 0px;
    background-color: #e0e0d6;
    padding: 0%;
}

#header{
  display: inline;
}

a:visited, a:link {
    text-decoration: none;
    color: black;
}

#banner {
  border: solid rgb(153, 126, 126);
  height: 8vh;
  background-color: rgb(153, 126, 126);
  font-family: "caveat", cursive;
  font-size: xx-large;
}

/* table,
th,
td {
  border: solid #f1f1ef;
  column-width: 33px;
  display: flex;
} */

#maintext {
  height: 800px;
  width: 400px;
  margin: 44px;
  padding:64px;
  display: flex
} 





nav{
  display: inline;
  display: flex;
  display: table;
}





body {
  background-color: #c7c6c1;
}

#lp {
  display: flex;
  display:inline;
  width: 86px;
  height: 800px;
}


h1 {
  font-family: "Playfair Display", serif;
  text-align: center;
  display: flex;
  padding: 22px;
}

main {
  display: flex;


}




.shoe {
  margin-left: 22px;
  border-radius: 15%;
}

.lowerpic {
  display: flex;
  height: 13vh;
  margin: 80px;
  padding: 13px;
  align-items: center;
}


.hoods {
  height: 44vh;
  margin-left: 12px;
  border-radius: 15%;
  margin-bottom: 300px;
  padding: 13px;
  align-items: center;
}

.jac {
  height: 44vh;
  margin-left: 12px;
  border-radius: 15%;
  padding: 13px;
  margin-bottom: 300px;
  align-items: center;
}

.cap {
  height: 44vh;
  margin-left: 12px;
  border-radius: 15%;
  margin-bottom: 100px;
  padding: 13px;
  align-items: center;
}
